# URL of the backend API
# Defaults to http://127.0.0.1:4000 if not set
VITE_API_URL=http://127.0.0.1:4000

# URL of the external product search API
VITE_SEARCH_API_URL=https://peko-api-dev-42526110428.asia-southeast1.run.app

# Partner API key for the external product search API
SEARCH_API_KEY=replace-with-search-api-key
